$bp-desktop: 1280px;
$bp-laptop: 1024px;
$bp-tablet: 768px;
$bp-min-width: 360px;

@mixin desktop-up {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}

@mixin below-desktop {
  @media (max-width: #{$bp-desktop - 0.02px}) {
    @content;
  }
}

@mixin below-laptop {
  @media (max-width: #{$bp-laptop - 0.02px}) {
    @content;
  }
}

@mixin below-tablet {
  @media (max-width: #{$bp-tablet - 0.02px}) {
    @content;
  }
}
